<section id="hero" class="section hero-section">
  <div class="container hero-container">
    <picture class="hero-img">
      <source
        srcset="/img/hero/girl-desk.png 1x, /img/hero/girl-desk@2x.png 2x"
        media="(min-width: 1200px)" />
      <source
        srcset="/img/hero/girl-mob.png 1x, /img/hero/girl-mob@2x.png 2x"
        media="(min-width: 320px)" />
      <img
        class="hero-girl partGirl"
        src="/img/hero/girl-mob.png"
        loading="lazy"
    /></picture>
    <picture class="hero-img">
      <source
        srcset="/img/hero/chef-desk.png 1x, /img/hero/chef-desk@2x.png 2x"
        media="(min-width: 1200px)" />
      <source
        srcset="/img/hero/chef-mob.png 1x, /img/hero/chef-mob@2x.png 2x"
        media="(min-width: 320px)" />
      <img
        class="hero-chef partChef"
        src="/img/hero/chef-mob.png"
        loading="lazy"
    /></picture>
    <picture class="hero-img">
      <source
        srcset="
          /img/hero/kitchen-masters-desk.png    1x,
          /img/hero/kitchen-masters-desk@2x.png 2x
        "
        media="(min-width: 1200px)" />
      <source
        srcset="
          /img/hero/kitchen-masters-mob.png    1x,
          /img/hero/kitchen-masters-mob@2x.png 2x
        "
        media="(min-width: 320px)" />
      <img
        class="hero-kitchen-masters partKitchenMasters"
        src="/img/hero/kitchen-masters-mob.png"
        loading="lazy"
    /></picture>
    <picture class="hero-img">
      <source
        srcset="
          /img/hero/cooking-mania-desk.png    1x,
          /img/hero/cooking-mania-desk@2x.png 2x
        "
        media="(min-width: 1200px)" />
      <source
        srcset="
          /img/hero/cooking-mania-mob.png    1x,
          /img/hero/cooking-mania-mob@2x.png 2x
        "
        media="(min-width: 320px)" />
      <img
        class="hero-cooking-mania partCookingMania"
        src="/img/hero/cooking-mania-mob.png"
        loading="lazy"
    /></picture>
    <picture class="hero-img">
      <source srcset="/img/hero/dice.png 1x, /img/hero/dice@2x.png 2x" />
      <img
        class="hero-dice partDice"
        src="/img/hero/dice.png"
        alt="hero-dice"
        loading="lazy"
      />
    </picture>
    <picture class="hero-img">
      <source srcset="/img/hero/rocket.png 1x, /img/hero/rocket@2x.png 2x" />
      <img
        class="hero-rocket partRocket"
        src="/img/hero/rocket.png"
        alt="hero-rocket"
        loading="lazy"
      />
    </picture>
    <picture class="hero-img">
      <source
        srcset="/img/hero/handChef.png 1x, /img/hero/handChef@2x.png 2x"
      />
      <img
        class="hero-hand-chef hiddenHeroDetails"
        src="/img/hero/handChef.png"
        loading="lazy"
      />
    </picture>
    <picture class="hero-img">
      <source
        srcset="/img/hero/detalRocket.png 1x, /img/hero/detalRocket@2x.png 2x"
      />
      <img
        class="hero-detal-rocket hiddenHeroDetails"
        src="/img/hero/detalRocket.png"
        loading="lazy"
      />
    </picture>
    <div class="hero-wrapper-download hiddenDownGameBtn">
      <a
        class="hero-download-a"
        href="https://play.google.com/store/apps/details?id=com.bigger.kitchenmasters"
      >
        <img
          class="hero-download-a-img"
          src="/img/google.png"
          srcset="/img/google.png 1x, /img/google@2x.png 2x"
          alt="google-play"
          width="130"
          height="40"
        />
      </a>
      <p class="hero-text">
        Cook, serve, and become the ultimate kitchen master!
      </p>
    </div>
  </div>
</section>
