<section class="section hero-section">
  <div class="container hero-container">
    <div class="hero-wrapper-img">
      <img class="hero-girl" src="/img/hero/girl-mob.png" />
      <img class="hero-chef" src="/img/hero/chef-mob.png" />
      <img
        class="hero-kitchen-masters"
        src="/img/hero/kitchen-masters-mob.png"
      />
      <img class="hero-cooking-mania" src="/img/hero/cooking-mania-mob.png" />
    </div>
    <div class="hero-wrapper-download">
      <a class="hero-download-a" href="">
        <img
          class="hero-download-a-img"
          src="/img/google.png"
          srcset="/img/google.png 1x, /img/google@2x.png 2x"
          alt="google-play"
          width="130"
          height="40"
        />
      </a>
      <p class="hero-text">
        Cook, serve, and become the ultimate kitchen master!
      </p>
    </div>
  </div>
</section>
