.section-gallery {
  padding-top: 90px;
  padding-bottom: 90px;
}

.container-gallery > .swiper {
  margin: 0 auto;
  width: 288px;
}
.swiper-pagination {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 6px;
  margin-top: 5px;
}

.swiper-pagination > .swiper-pagination-bullet {
  background: var(--golden-tainoi-400);
  opacity: 1;
  width: 12px;
  height: 12px;
}
.swiper > .swiper-pagination {
  position: relative;
  text-align: center;
  transform: translateY(70%);
}
.swiper-pagination > .swiper-pagination-bullet-active {
  background: var(--golden-tainoi-500);
  width: 24px;
  height: 12px;
  border-radius: 12px;
}
.gallery-img {
  border: 1px solid #ffefc6;
  border-radius: 8px;
  box-shadow: inset 4px 6px 6px 0 rgba(255, 255, 255, 0.6),
    2px 4px 6px 0 rgba(39, 29, 3, 0.33);
}
.swiper-btn-wrap {
  position: relative;
  display: flex;
  align-items: center;
}
.swiper-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
  transition: transform 0.3s ease;
}
.swiper-button:hover {
  transform: scale(1.2);
}
.swiper-btn-wrap > .swiper-button {
  color: var(--golden-tainoi-500);
  font-size: 20px;
}
.swiper-btn-wrap {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  padding: 10px;
}

@media only screen and (min-width: 1200px) {
  .section-gallery {
    margin-top: 0;
    padding-top: 64px;
    padding-bottom: 56px;
    margin-bottom: 0;
  }

  .container-gallery {
    padding-top: 16px;
  }

  .swiper-pagination {
    margin-top: 32px;
    margin-bottom: 6px;
    padding: 0;
  }

  .container-gallery > .swiper {
    width: 880px;
  }
  .swiper-pagination > .swiper-pagination-bullet {
    width: 18px;
    height: 18px;
  }
  .swiper-pagination > .swiper-pagination-bullet-active {
    width: 32px;
    height: 18px;
  }
}
