.container-gallery {
  padding: 30px;
  min-width: 100%;
}
.swiper {
  width: 320px;
}
.swiper-pagination > .swiper-pagination-bullet {
  background: var(--golden-tainoi-400);
  opacity: 1;
  width: 12px;
  height: 12px;
}
.swiper > .swiper-pagination {
  position: absolute;
  text-align: center;
  /* transition: 300ms opacity; */
  transform: translate3d(0, 0, 0);
}

.swiper-pagination > .swiper-pagination-bullet-active {
  background: var(--golden-tainoi-500);
  width: 24px;
  height: 12px;
  border-radius: 12px;
}
/* .container-gallery > .mySwiper {
  width: 600px;
  height: 100%;
  margin: auto;
}
.swiper-wrapper > .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  } */
/* .img-slider {
  text-align: center;
}
.img-slider img {
  max-width: 100%;
} */
