.hero-section {
  width: 320px;
  background-image: url('/img/hero/background-mob.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding-top: 55px;
}

/* .hero-section::before,
.hero-section::after {
  content: '';
  position: absolute;
  width: 1200px;
  height: 3%;
} */

/* .hero-section::after {
  top: 78px;
  left: 16px;
  background: linear-gradient(0deg, rgba(255, 249, 235, 0) 0%, #94320c 210%);
}

.hero-section::before {
  bottom: 0;
  background: linear-gradient(180deg, rgba(255, 249, 235, 0) 0%, #94320c 100%);
} */

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-section {
    background-image: url('/img/hero/background-mob@2x.jpg');
  }
}

.hero-container {
  position: relative;
}

.hero-wrapper-download {
  padding-top: 340px;
  padding-bottom: 49px;
}

.hero-download-google {
  margin: auto;
}

.hero-download-a-img {
  margin: auto;
  margin-bottom: 24px;
}

.hero-text {
  font-style: italic;
  font-size: 22px;
  text-align: center;
  color: #000;
}

.hero-girl {
  position: absolute;
  top: 38px;
  left: 7px;
}

.hero-chef {
  position: absolute;
  top: 14px;
  left: 163px;
}

.hero-kitchen-masters {
  position: absolute;
  width: 240px;
  top: 126px;
  left: 39px;
}

.hero-cooking-mania {
  position: absolute;
  width: 220px;
  top: 275px;
  left: 49px;
}

.hero-rocket {
  display: none;
}

.hero-dice {
  display: none;
}

.hero-hand-chef {
  display: none;
}

.hero-detal-rocket {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .hero-section {
    width: 1200px;
    /* height: 759px; */
    height: 840px;
    background-image: url('/img/hero/backgound-desk.jpg');
    padding-top: 80px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: url('/img/hero/backgound-desk@2x.jpg');
    }
  }
  .hero-wrapper-download {
    padding-top: 555px;
  }

  .hero-download-a-img {
    margin-bottom: 32px;
  }

  .hero-text {
    font-size: 28px;
  }

  .hero-girl {
    width: 380px;
    top: 75px;
    left: -75px;
    z-index: 1;
  }

  .hero-chef {
    width: 322px;
    top: 105px;
    left: 830px;
  }

  .hero-kitchen-masters {
    width: 720px;
    top: 10px;
    left: 209px;
  }

  .hero-cooking-mania {
    width: 610px;
    top: 435px;
    left: 265px;
  }

  .hero-rocket {
    display: block;
    position: absolute;
    width: 280px;
    top: 300px;
    left: 12px;
  }

  .hero-dice {
    display: block;
    position: absolute;
    width: 306px;
    top: 350px;
    left: 830px;
  }

  .hero-hand-chef {
    display: block;
    position: absolute;
    width: 65px;
    top: 384px;
    left: 1002px;
  }

  .hero-detal-rocket {
    display: block;
    position: absolute;
    width: 118px;
    top: 378px;
    left: 95px;
    z-index: 2;
  }
}
