.hero-section {
  /* width: 320px; */
  background-color: var(--golden-tainoi-400);
  background-image: url('/img/hero/background-mob.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding-top: 55px;
  z-index: 1;
}

/* .hero-section::before,
.hero-section::after {
  content: '';
  position: absolute;
  width: 1200px;
  height: 3%;
} */

/* .hero-section::after {
  top: 78px;
  left: 16px;
  background: linear-gradient(0deg, rgba(255, 249, 235, 0) 0%, #94320c 210%);
}

.hero-section::before {
  bottom: 0;
  background: linear-gradient(180deg, rgba(255, 249, 235, 0) 0%, #94320c 100%);
} */

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-section {
    background-image: url('/img/hero/background-mob@2x.jpg');
  }
}

.hero-container {
  position: relative;
}

.hero-wrapper-download {
  padding-top: 340px;
  padding-bottom: 49px;
}

.hero-download-google {
  margin: auto;
}

.hero-download-a-img {
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: auto;
  margin-bottom: 24px;
}

.hero-download-a-img:hover,
.hero-download-a-img:focus {
  scale: 1.2;
}

.hero-text {
  font-style: italic;
  font-size: 22px;
  text-align: center;
  color: #000;
}

.hero-girl {
  position: absolute;
  opacity: 0;
  transition: all 1.5s ease;
  /* top: 38px;
  left: 7px; */
}

.hero-chef {
  position: absolute;
  opacity: 0;
  transition: all 1.5s ease;

  /* top: 14px;
  left: 163px; */
}

.hero-kitchen-masters {
  position: absolute;
  opacity: 0;
  transition: all 1.5s ease;
  width: 240px;
  /* top: 126px;
  left: 39px; */
}

.hero-cooking-mania {
  position: absolute;
  opacity: 0;
  transition: all 1.5s ease;
  width: 220px;
  /* top: 275px;
  left: 49px; */
}

.hero-rocket {
  display: none;
}

.hero-dice {
  display: none;
}

.hero-hand-chef {
  display: none;
}

.hero-detal-rocket {
  display: none;
}

.partGirl {
  left: -300px;
  top: 80px;
}
.partChef {
  left: 450px;
  top: 80px;
}
.partKitchenMasters {
  top: -400px;
  left: 39px;
}
.partCookingMania {
  top: -300px;
  left: 49px;
}

.hero-img.show .partGirl {
  left: 7px;
  top: 38px;
  opacity: 1;
}
.hero-img.show .partChef {
  top: 14px;
  left: 163px;
  opacity: 1;
}
.hero-img.show .partKitchenMasters {
  top: 126px;
  left: 39px;
  opacity: 1;
}
.hero-img.show .partCookingMania {
  top: 275px;
  left: 49px;
  opacity: 1;
}

.hiddenDownGameBtn {
  opacity: 0;
  transform: translateY(200%);
  transition: all 1.5s ease;
}

@media only screen and (min-width: 1200px) {
  .hero-section {
    height: 840px;
    background-image: url('/img/hero/backgound-desk.jpg');
    padding-top: 80px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: url('/img/hero/backgound-desk@2x.jpg');
    }
  }
  .hero-wrapper-download {
    padding-top: 555px;
  }

  .hero-download-a-img {
    margin-bottom: 32px;
  }

  .hero-text {
    font-size: 28px;
  }

  .hero-girl {
    width: 380px;
    top: 75px;
    left: -75px;
    z-index: 1;
  }

  .hero-chef {
    width: 322px;
    top: 105px;
    left: 830px;
  }

  .hero-kitchen-masters {
    width: 720px;
    top: 10px;
    left: 209px;
  }

  .hero-cooking-mania {
    width: 610px;
    top: 435px;
    left: 265px;
  }

  .hero-rocket {
    display: block;
    position: absolute;
    opacity: 0;
    transition: all 1.5s ease;
    width: 280px;
    /* top: 300px;
    left: 12px; */
  }

  .hero-dice {
    display: block;
    position: absolute;
    opacity: 0;
    transition: all 1.5s ease;
    width: 306px;
    /* top: 350px;
    left: 830px; */
  }

  .hero-hand-chef {
    display: block;
    position: absolute;
    width: 65px;
    top: 384px;
    left: 1002px;
  }

  .hero-detal-rocket {
    display: block;
    position: absolute;
    width: 118px;
    top: 378px;
    left: 95px;
    z-index: 2;
  }

  .partGirl {
    left: -300px;
    top: 150px;
  }
  .partChef {
    left: 1050px;
    top: 150px;
  }
  .partKitchenMasters {
    top: -500px;
    left: 209px;
  }
  .partCookingMania {
    top: -400px;
    left: 265px;
  }

  .partDice {
    left: 1050px;
    top: 430px;
  }
  .partRocket {
    top: 370px;
    left: -200px;
  }

  .hero-img.show .partGirl {
    top: 75px;
    left: -75px;
    opacity: 1;
  }
  .hero-img.show .partChef {
    top: 105px;
    left: 830px;
    opacity: 1;
  }
  .hero-img.show .partKitchenMasters {
    top: 10px;
    left: 209px;
    opacity: 1;
  }
  .hero-img.show .partCookingMania {
    top: 435px;
    left: 265px;
    opacity: 1;
  }
  .hero-img.show .partDice {
    top: 350px;
    left: 830px;
    opacity: 1;
  }
  .hero-img.show .partRocket {
    top: 300px;
    left: 12px;
    opacity: 1;
  }

  .hiddenHeroDetails {
    opacity: 0;
    transform: translateX(0);
    transition: opacity 1.5s ease;
  }
  .hiddenHeroDetails.show {
    opacity: 1;
    visibility: visible;
  }
}
