.privacy-title {
  font-family: var(--second-family);
  line-height: 140%;
  color: var(--crimson-600);
  margin-bottom: 24px;
}
.privacy-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 32px;
}
.privacy-list-item {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 288px;
}
.privacy-list-item-link {
  font-size: 18px;
  letter-spacing: 0.01em;
  text-indent: 9px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #1c03ae;
}
.privacy-list-item-item {
  font-size: 18px;
  letter-spacing: 0.01em;
  text-indent: 9px;
}
.rivacy-list-item-item::before {
  content: '•';
  font-size: 1.2em;
  text-indent: 0;
  text-decoration: none;
  color: black;
  margin-right: 3px;
}
.privacy-text {
  font-size: 18px;
  letter-spacing: 0.01em;
  text-indent: 9px;
}
.icon-home {
  width: 32px;
  height: 32px;
}
.back-home {
  display: flex;
  align-items: center;
  padding: 32px 0 0 8px;
}
.privacy-text-home {
  display: none;
}

.btn-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: var(--golden-tainoi-400);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-up:hover,
.btn-up:focus {
  background-color: var(--golden-tainoi-500);
}
.btn-up.show {
  display: flex;
  opacity: 1;
  transform: scale(1);
}
.btn-up.hide {
  opacity: 0;
  transform: scale(0.9);
}

@media only screen and (min-width: 1200px) {
  .privacy-container {
    width: 600px;
  }

  .privacy-text-home {
    display: block;
  }

  .privacy-list {
    margin-top: 56px;
    margin-bottom: 56px;
  }

  .privacy-list-item {
    width: 100%;
  }

  .privacy-title {
    font-size: 36px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }
  .privacy-text {
    font-size: 20px;
  }
  .privacy-list-item-item {
    font-size: 20px;
  }
}
